.reviewCard {
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 25px;
	padding-right: 25px;
	background: white;
	margin: 10px;
	min-width: 200px;
	/* max-width: 400px; */
	border-radius: 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.reviewCard:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input {
	width: 90%;
	height: 100px;
	font-size: 1em;
}

.reviewButtonContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.reviewButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2b4162;
	color: white;
	font-size: 1.25em;
	font-weight: 700;
	margin: 5px;
	height: 50px;
	width: 100px;
}

.confirmWhiteout {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
	min-height: 100%;
	/* max-height: 1000%; */
	z-index: 1;
	background: #9999a1;
	opacity: 0.6;
}

.confirmDeleteButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2b4162;
	color: white;
	font-size: 1.25em;
	font-weight: 700;
	margin: 5px;
	height: 100px;
	width: 200px;
}

/* .confirmBox {
	position: absolute;
	top: 40%;
	right: 28vw;
	background: #66666e;
	padding: 50px;
} */

.confirmBox {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 40px;
	/* border: solid black 1px; */
	width: 40vw;
	min-height: 35vh;
	max-height: 60vh;
	position: fixed;
	top: 20%;
	left: 30%;
	background: rgba(40, 44, 52, 0.95);
	/* opacity: 0.8; */
	box-shadow: 1px 1px 5px;
	color: white;
	z-index: 2;
}

.super:hover {
	transition: all 0.3s ease;
	/* color: #9999a1; */
	transform: scale(1.1);
	cursor: pointer;
	/* color: white; */
}

.starEdit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

.noStars {
	background: #2b4162;
	color: white;
	height: 25px;
	/* width: 50px; */
	margin-left: 30px;
	margin-right: 30px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.noStars:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.timestamp{
	position: absolute;
	top:10px;
	right: 10px
}