.typeBox {
	display: flex;
	align-items: center;
	/* flex-wrap: wrap; */
	/* justify-content: space-between; */
	border: solid 1px #2b4162;
	margin: 30px;
}

.aboutTitle {
	margin: 20px;
	background: #2b4162;
	color: white;
}
.aboutTitleContainer {
	background: #2b4162;
	min-width: 170px;
	max-width: 170px;
}

.text {
	color: #2b4162;
}
.aboutKeys {
	display: flex;
	margin: 10px;
	/* height: 100%; */

	/* background: gray; */
}

.aboutCard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.aboutKeysContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* flex-wrap: wrap; */
	justify-content: center;
	margin-left: 50px;
}

@media (max-width: 800px) {
	.typeBox {
		flex-direction: column;
	}
	.aboutKeysContainer {
		margin-left: 0px;
	}
}

.buttonDiv {
	display: flex;
	justify-content: center;
}

.exampleButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2b4162;
	color: white;
	font-size: 1.25em;
	font-weight: 700;
	margin: 5px;
	height: 70px;
	width: 150px;
}
