.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2b4162;
	color: white;
	width: 100vw;
	height: 75px;
	/* box-shadow: 10px 2px 16px 5px #888888; */
	/* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
	transition: all 0.3s ease;
}

.logoContainer {
	display: flex;
	align-items: center;
	font-size: 2em;
}

.logo {
	margin-left: 50px;
	height: 60px;
}
.logo:hover {
	transition: all 0.3s ease;
	/* color: #9999a1; */
	transform: scale(1.1);
	cursor: pointer;
}

.profile {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 0.55em;
	font-weight: 500;
	/* border: solid 1px #2b4162; */
	/* padding: 10px; */
}
@media (max-width: 800px) {
	.profile {
		display: none;
	}
	.types {
		display: none;
	}
}
@media (max-width: 500px) {
	.logo {
		margin-left: 0px;
	}
}

@media (min-width: 800px) {
	.about {
		display: none;
	}
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
}

.navLink {
	margin-right: 25px;
	font-weight: 700;
	font-size: 1.5em;
}

.navLink:hover {
	transition: all 0.3s ease;
	/* color: #9999a1; */
	transform: scale(1.1);
	cursor: pointer;
}
