.dashHeader {
	display: flex;
	justify-content: space-around;
	background: #9999a1;
	color: white;
	width: 100vw;
}

.dash {
	/* background: #9999a1; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex: 1;
	/* width: 20vw; */
	/* color: #2b4162; */
	color: white;
}

.module {
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 325px;

	flex: 1;
	border: 1px solid #2b4162;
	/* background: #2b4162; */
	color: #2b4162;
	font-weight: 800;
}
.reviewModule {
	flex: 2;
}

.moduleTitle {
	font-size: 2em;
}

.news {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
}
