.cardLike {
	position: relative;
}

.gameCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	/* border: black 1px solid; */
	width: 300px;
	height: 300px;
	margin: 10px;
}

.gameScrollImg {
	max-width: 250px;
	max-height: 200px;
}

.line {
	background: white;
	width: 250px;
	height: 1px;
	margin: 0px;
}

.cardBottom {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 1em;
	align-items: center;
	align-self: flex-end;
	background: #2b4162;
	color: white;
	width: 100%;
	height: 99px;
}

.circle {
	height: 40px;
	width: 40px;
	background: #9999a1;
	border: solid 1px #9999a1;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	top: 15px;
}
.circle:hover {
	background: #66666e;
}

.heart {
	background-color: white;
	height: 15px;
	transform: rotate(-45deg);
	width: 15px;
	position: absolute;
	top: 15px;
	right: 13px;
}
.heart:before {
	top: -8.5px;
	left: 0;
}
.heart:before,
.heart:after {
	content: '';
	background-color: white;
	border-radius: 50%;
	height: 15px;
	position: absolute;
	width: 15px;
}

.fav,
.fav:before,
.fav:after {
	background: red;
}

.checkBox{
	border: solid 2px #2b4162;
	height: 30px;
	width: 30px;
	position: absolute;
	left: 15px;
	top: 15px;
	background:white
}


.check{
	/* border: solid 2px #2b4162; */
	height: 28px;
	width: 28px;
	position: absolute;
	left: 18px;
	top: 18px;
}
.checkBox:hover{
	cursor:pointer
}
.check:hover{
	cursor:pointer
}
