.newGameCard {
	display: flex;
	padding: 25px;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	position: fixed;
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;
	/* height: 90vh; */
	overflow: scroll;
	z-index: 2;
	/* max-width: 800px; */
	/* min-height: 600px; */
	background: #9999a1;
	color: white;
	flex-wrap: wrap;
}

@media (max-width: 750px) {
	.newGameCard {
		left: 5vw;
		right: 5vw;
		justify-content: flex-start;
	}
}
/* @media (min-width: 1000px) {
	.newGameCard {
		height: 90vh;
	}
} */

/* @media (min-width: 1000px) {
	.newGameParagraph {
		margin-left: 150px;
		margin-right: 150px;
	}
} */

input {
	color: black;
	margin: 0;
	border: #2b4162 solid 1px;
}

textarea {
	margin: 0;
	border: #2b4162 solid 1px;

	/* width: inherit; */
	color: black;
}

.NewGameNumbers {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
}

.indiNumbersInput {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
	/* width: 100px; */
	width: 200px;
	height: 30px;
	margin: 5px;
	border-radius: 5px;
}

.pendingImage {
	border: solid 1px #2b4162;
	/* position: absolute;
	display:inline-block;
	top: 10px;
	right: 10px; */
	width: 200px;
	height: 200px;
	margin: 1px;
	overflow: auto;
}
@media (max-width: 460px) {
	.indiNumbers {
		align-items: center;
	}
	/* .indiNumbersInput {
		margin-left: 150px;
		margin-right: 150px;
	} */
	.pendingImage {
		display: none;
	}
}

.black {
	color: black;
}

.newImg {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* .input{
	margin: 10px;
} */
